body{
    font-size: 14px;
    margin: 0;
padding: 0;
box-sizing: border-box;
}
h1{
    visibility: hidden;
}
/* .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
} */
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea {
    margin: 10px;
    padding: 0 5px;

}
.alex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.button{
    font-size: 10px;
    width: 50px;
    height: 24px;
    padding: 0;
    margin: 0;
    border: 1px solid #000;
    box-sizing: border-box;


}
.input{
    width: 176px;
    height: 24px;
    padding: 0 5px;
    margin: 0;
    border: 1px solid #000;
    box-sizing: border-box;
margin-right: 10px;
}